/*عشان اغير نوع  الخط*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "poppins",serif;
    font-style: normal;
}

body{

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: wheat;


}



header{

display: flex; 
justify-content: space-between;/*عشان نخلي مسافه بين عتاصر الهيدر */
align-items: center;/*محاذاه للعناصر*/
margin: 2rem auto;/*مساحات يمين ويسار*/
padding: 0.05rem;/*تحكم بمساحات فوق وتحت النص */
max-width: 1200px;

}
/* to call the class-بنشتغل بس على اللست بس عشان كذا نادينا ul*/
.navigation ul {

display: flex;
list-style-type: none;/*عشان نشيل النقاط*/
gap: 2rem;/*نحط مسافه*/

}

.navigation a {
text-decoration:none;
color: azure;
}

.navigation a:hover{
color: #6a4601; /*to change the color for hader items */
}


.hero{
display: flex; 
justify-content: space-between;/*عشان نخلي مسافه بين عتاصر الهيدر */
align-items: center;/*محاذاه للعناصر*/
margin: 5rem auto;/*مساحات يمين ويسار*/
max-width: 1200px;

}

.arrwo{

position :absolute;
transform: translateX(-5.5rem) translateY(1.5rem);
}

.herosub{

display: flex;
flex-direction: column;
gap: 0.5rem;
}
.name{
font-size: 2rem;
color: white;
}
.title{
font-size: 3rem;
color:#6a4601;
}
.herosub{
display: flex;
gap: 1rem;
margin-top: 1.5rem;
}
/*.hireMe{
//*
    background-color:#00adb5;
    color: white;
    border-radius: 24px;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    text-shadow: 0px 4px 4px rgba(208, 108, 31, 0.5);
*/

.cv{
background-color: rgba(198, 175, 8, 0.292);
color: white;
border-radius: 24px;
text-decoration: none;
padding: 0.5rem 1.5rem;
text-shadow: 0px 4px 4px rgba(208, 108, 31, 0.5); ;
display: flex;
align-items: center;
gap: 0.5rem;
backdrop-filter: blur(4px);
transition: transform 0.3s ease, background-color 0.3s ease;
}

.cv:hover {
  background-color: rgba(198, 175, 8, 0.45);
  transform: translateY(-3px);
}


.heroImg{

width: 40%;
display: flex;
justify-content: flex-start;
}

.heroImg  img{

    width: 250px;
    height: auto;
}

.aboutMe{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 5rem auto;
 max-width: 1200px;
 gap: 5rem;
flex-wrap: wrap;
}

aboutMePer {
  text-align: left; /* أفضل للقراءة على الشاشات الكبيرة */
  line-height: 1.8;
  color: rgb(94, 69, 1);
  max-width: 600px;
  width: auto;

}
@media (max-width: 1023px) {
  .aboutMe {
    flex-direction: column; /* النص والصورة تحت بعض */
    align-items: center;
    gap: 2rem;
    margin: 3rem 1rem;
  }
  .textContainer{
   width: 100%;
   margin: 0 1rem;
   align-items: flex-start;
}

  .aboutMePer {
    width: 100%;
    max-width: 100%; /* لا يتجاوز حجم الشاشة */
    font-size: 1rem;
    line-height: 1.9;
    
  }



}
.textContainer{
   display: flex; 
   flex-direction: column;
}

.textTitle{
display: flex;
align-items: center;
gap: 1rem;
font-size: 2rem;
}

.aboutName{
    color: white;
}

.aboutTitle{
    color:rgb(162, 96, 4);
}


.aboutMeImg{
 width: 40%;
display: flex;
justify-content: flex-start;
}


.works{
padding: 10rem 10rem;
margin: 5rem 0rem;
}

.worksContainer{
 display: flex;
 flex-direction: column; /*عشان الاعمال تكون تحت بعض*/
 justify-content: space-around;/*الحواف حقت صور الاعمال تكون متناسقه*/
 align-items: left;
 margin: 5rem auto;
 max-width: 1200px;
 margin-bottom: 15rem; /*  تحكم بالمسافة */
 margin-top: 2rem;   /* المسافة من فوق */
}
.projectTitle{
display: flex;
align-items:center;
justify-content: left;
gap: 1px;
font-size: 1.5rem ;
margin-bottom: 30px;/*عشان احط مسافه بين العنوان والشكل */
}

.works ul{
 display: flex;
 flex-wrap:wrap ;/* عشان لمن اضيف اعمال زياده ما تكون متلاصقه*/
 gap: 10px;
 list-style-type: none;
 align-items: center;
 justify-content: space-between;
}

.works li{
 border-radius: 19px;
 background-color: rgba(198, 175, 8, 0.292);
 backdrop-filter:blur 4px ;
 padding: 1rem 3rem;

}

.works li img{
 width: 200px; ;
 height: 200px ;
 object-fit:contain ;
  transition: transform 0.5s ease-in-out;/*عشان الحركه تكون احلى */
  will-change: transform;
}

.works li:hover img  {
 transform: scale(1.3);
}

.CertificateTitle{
     display: flex;
     align-items: center;
     justify-content: left;
     gap: 3px;
     font-size: 1.3rem ;
     margin-bottom: 19px;/*عشان احط مسافه بين العنوان والشكل */ 
    }

 .CertificateContainer {
  margin-bottom: 15rem; /*  تحكم بالمسافة */
 margin-top: 2rem;   /* المسافة من فوق */
}

.CertificateContainer ul {
  display: flex;
  justify-content: space-between;
  gap: 2rem;          /* المسافة بين الصور */
  list-style: none;
}

.CertificateContainer li {
  background-color: rgba(198, 175, 8, 0.292);
  padding: 2rem;
  border-radius: 10px;
}


 
 .ContactContainer{
 display: flex;
 flex-direction: column; /*عشان الاعمال تكون تحت بعض*/ 
 align-items: center;
 justify-content: space-around;
 gap: 1rem;
 margin: 3rem auto;
 max-width: 1200px; 
}



 .ContactTitle{ 
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 2px;
    font-size: 1.5rem ;
     margin-bottom: 10px;/*عشان احط مسافه بين العنوان والشكل */ 
    }

.Contact{
     display: flex;
     align-items:center; 
     justify-content: center;
     margin-right: 5rem;
      gap: 20rem;
}
 .Contact h3 , .Contact a{ 
  color: #6a4601;
  text-decoration: none; }


.EmailAndPhone{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 5px;
}


.SocailMedia {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  /*margin-top: 1rem;*/
}

.SocailMedia  a {
display: flex;
align-items: center;
justify-content: center;
border-radius: 20px;
 background-color: rgba(198, 175, 8, 0.292);
backdrop-filter: blur(1px);
padding: 0.3rem;
}


.SocailMedia img {
  width: 24px;   /* حجم الأيقونة */
  height: 24px;
    cursor: pointer;
  transition: transform 0.3s ease;
}

.SocailMedia img:hover {
  transform: scale(1.2);
}


 

.pageContent {
  flex: 1;   /* هذا يخلي الفوتر ينزل */
}

.Footer {
  text-align: center;
  padding: 1rem 0;
  color: #6a4601;
}




@media (max-width: 1023px) {
  header {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .heroImg {
    width: 400px;
  }
  .name,
  .title {
    font-size: 2rem;
  }
  .arrow {
    display: none;
  }
  .aboutMe {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .textContainer {
    align-items: center;
    margin: 0rem 5rem;
    gap: 1rem;
  }
  .aboutName,
  .aboutTitle {
    font-size: 2rem;
  }
  .light {
    width: 60px;
  }
  .aboutMeImg {
    width: 400px;
  }
  .works {
    padding: 0;
  }
  .worksContainer {
    padding: 5rem 0rem;
    gap: 3rem;
  }
  .projectTitle {
    margin-left: 1rem;
  }
  .works ul {
    flex-direction: column;
    gap: 1rem;
  }
  .ContactContainer {
    margin: 10rem 5rem;
    gap: 2rem;
  }
  .Contact {
    flex-direction: column;
    gap: 1rem;
    margin-right: 0;
  }


}





